<div class="card d-flex py-1 mb-2">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight col-2">
      <button type="button" class="btn btn-success btn-sm mx-1" *ngIf="!modifToggle"
        (click)="submit()">Enregistrer</button>
      <button type="button" class="btn btn-danger btn-sm mx-1" *ngIf="!modifToggle" (click)="cancel()">Annuler</button>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1 col-4">
      <div class="input-group input-group-sm" *ngIf="addToggle">
        <span for="dateDebut" class="input-group-text col-4">
          Inventaire :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.debut" name="dateDebut"
          bsDatepicker [bsConfig]="bsConfig" [maxDate]="dates.fin" (ngModelChange)="selectCentreRevenus(centrerevenu)">
        <span for="dateFin" class="input-group-text col-1">
          au :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.fin" [minDate]="dates.debut"
          name="dateFin" bsDatepicker [bsConfig]="bsConfig" (ngModelChange)="selectCentreRevenus(centrerevenu)">
        <!-- <button type="button" class="btn btn-outline-secondary col-1"><i class="fas fa-check"></i></button> -->
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1 col-3">
      <div class="input-group input-group-sm">
        <span class="input-group-text col-5" id="basic-addon1">Centre revenus</span>
        <input type="text" class="form-control bg-white " [ngClass]="toggle ? 'col-6' : 'col-7'" aria-label="unite"
          aria-describedby="fournisseur" [(ngModel)]="centrerevenu.libelle" disabled="true">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" *ngIf="toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let line of centrerevenusdefault"><span
              (click)="selectCentreRevenus(line)">{{line.libelle}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight col-2">
      <button class="btn btn-outline-danger btn-sm me-1" (click)="delete()" cTooltip="Supprimer inventaire"
        cTooltipPlacement="bottom" *ngIf="!toggle">
        <i class="fas fa-trash"></i>
      </button>
      <button class="btn btn-outline-danger btn-sm me-1" (click)="deletes()" cTooltip="Supprimer inventaires"
        cTooltipPlacement="bottom" *ngIf="toggle">
        <i class="fas fa-trash"></i>
      </button>
      <button class="btn btn-outline-success btn-sm me-1" cTooltip="Ajouter inventaire" cTooltipPlacement="bottom"
        (click)="openInventaire(contentinventaire);" [disabled]="!addToggle" *ngIf="!inventaire.etat || toggle">
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-outline-info btn-sm me-1" (click)="modifToggleModal()" cTooltip="Modifier l'inventaire"
        cTooltipPlacement="bottom" *ngIf="!toggle" [disabled]="!modifToggle || inventaire.etat">
        <i class="fas fa-pencil"></i>
      </button>
      <button class="btn btn-outline-primary btn-sm me-1" (click)="toggleModal()"
        cTooltip="Afficher la liste des inventaires" cTooltipPlacement="bottom" *ngIf="!toggle"
        [disabled]="!modifToggle">
        <i class="fas fa-list"></i>
      </button>
      <button class="btn btn-outline-warning btn-sm me-1" (click)="validInventaire()" cTooltip="Cloturer l'inventaire"
        cTooltipPlacement="bottom" *ngIf="!inventaire.etat && !toggle && modifToggle">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</div>

<div class="card d-flex" *ngIf="toggle">
  <div class="card-body overflow-y-scroll py-1" style="height: 650px;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-3">N° <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortInventaires($event, 'numero')"></i></th>
          <th scope="col" class="col-2">Date <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortInventaires($event, 'date_inventaire','date')"></i></th>
          <th scope="col" class="col-3">Centre revenu <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortInventaires($event, 'centre.libelle')"></i></th>
          <!-- <th scope="col" class="col-2">Lieu et Zones de stockage</th> -->
          <!-- <th scope="col" class="col-1">Zone de stockage</th> -->
          <th scope="col" class="col-3">Operateurs <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortInventaires($event, 'operateur.nom')"></i></th>
        </tr>
        <tr>
          <th></th>
          <th> <input type="search" name="numero" class="form-control form-control-sm"
              (input)="onSearchInventaires($event,'numero')" placeholder="Rechercher..."></th>
          <th><input type="date" name="date_inventaire" class="form-control form-control-sm"
              (input)="onSearchInventaires($event,'date_inventaire')" placeholder="Rechercher..."></th>
          <th><input type="search" name="libelle" class="form-control form-control-sm"
              (input)="onSearchInventaires($event,'centre.libelle')" placeholder="Rechercher..."></th>
          <th><input type="search" name="operateur" class="form-control form-control-sm"
              (input)="onSearchInventaires($event,'operateur.nom')" placeholder="Rechercher..."></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of inventaires" [ngClass]="line.etat === false ? 'table-danger' : 'table-info'">
          <td class="col-1">
            <input type="checkbox" class="form-check-input" name="inventaire-{{line.date_inventaire}}"
              id="inventaire-{{line.id}}" [(ngModel)]="line.selected">
          </td>
          <td class="col-3" (click)="toggleModal(line.etat); show(line)">{{line.numero}}</td>
          <td class="col-2" (click)="toggleModal(line.etat); show(line)">{{screenDate(line.date_inventaire)}}</td>
          <td class="col-3" (click)="toggleModal(line.etat); show(line)">{{line.centre.libelle}}</td>
          <!-- <td class="col-2" (click)="toggleModal(line.etat); show(line)">{{line.zonestockage.lieu.lieu}} {{line.zonestockage.zone}}</td> -->
          <!-- <td class="col-1" (click)="toggleModal(line.etat); show(line)">{{line.zonestockage.zone}}</td> -->
          <td class="col-3" (click)="toggleModal(line.etat); show(line)">{{line.operateur.nom}}
            {{line.operateur.prenom}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card d-flex" *ngIf="!toggle">
  <div class="card-header text-center fs-5 fw-bold">
    {{centrerevenu.libelle}} - Inventaire du
    {{screenDate(inventaire.date_inventaire)}} - n° {{inventaire.numero}}
    <!-- <button class="btn btn-sm btn-outline-secondary" *ngIf="!modifToggle" (click)="openInventaire(contentinventaire)"><i class="fas fa-pencil"></i></button> -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="card-body overflow-y-scroll py-1" style="height: 550px;">
        <table class="table table-sm">
          <tbody>
            <tr *ngFor="let lieu of inventairesDetailsZone">
              <td colspan="7">
                <table class="table table-striped table-hover table-sm">
                  <thead>
                    <tr>
                      <th class="fw-bold" colspan="7">{{lieu.lieu}} - {{lieu.zone}}</th>
                      <th class="fw-bold" class="col-2">
                        <div class="d-flex flex-row-reverse bd-highlight">
                          <button type="button" class="btn btn-sm btn-outline-warning ms-1" (click)="deleteZero(lieu)"
                            [disabled]="modifToggle" cTooltip="Supprimer les lignes a 0 quantités"
                            cTooltipPlacement="bottom"><i class="fas fa-cancel"></i></button>
                          <button type="button" class="btn btn-sm btn-outline-danger ms-1"
                            (click)="deselectArticles(lieu)" [disabled]="modifToggle" cTooltip="Supprimer des articles"
                            cTooltipPlacement="bottom"><i class="fas fa-trash"></i></button>
                          <button type="button" class="btn btn-sm btn-outline-info ms-1"
                            (click)="openArticle(content, lieu)" [disabled]="modifToggle"
                            cTooltip="Ajouter des articles" cTooltipPlacement="bottom"><i
                              class="fas fa-plus"></i></button>
                          <button type="button" class="btn btn-sm btn-outline-primary ms-1" cTooltip="Ouvrir le PDF"
                            cTooltipPlacement="bottom" (click)="openPdf(lieu, 1)"><i
                              class="fas fa-file-pdf"></i></button>
                          <button type="button" class="btn btn-sm btn-outline-primary ms-1" cTooltip="Imprimer le PDF"
                            cTooltipPlacement="bottom" (click)="openPdf(lieu, 2)"><i class="fas fa-print"></i></button>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th scope="col" class="col-1">#</th>
                      <th scope="col" class="col-3">Articles</th>
                      <th scope="col" class="col-1">Quantités</th>
                      <th scope="col" class="col-1">Unités</th>
                      <th scope="col" class="col-1">Prix FT</th>
                      <th scope="col" class="col-1">Valorisation</th>
                      <th scope="col" class="col-2">Familles</th>
                      <th scope="col" class="col-2">Sous-familles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let article of lieu.inventairedetail">
                      <td class="col-1">
                        <input type="checkbox" class="form-check-input" name="inventaire-{{article.articleId}}"
                          id="inventaire-{{article.id}}" [(ngModel)]="article.selected" *ngIf="!modifToggle">
                      </td>
                      <td class="col-3" cTooltip={{article.article.libelle}} cTooltipPlacement="bottom">
                        {{article.article.libelle}}</td>
                      <td class="col-1">
                        <input type="number" class="form-control form-control-sm bg-transparent"
                          [(ngModel)]="article.quantite" [step]="article.article.unite.step" placeholder="0.00"
                          [disabled]="modifToggle">
                      </td>
                      <td class="col-1">{{article.article.unite.libelle}}</td>
                      <td class="col-1">{{article.article.cout | number: '1.2-2'}} €</td>
                      <td class="col-1">{{article.article.cout * article.quantite | number: '1.2-2'}} €</td>
                      <td class="col-2 text-truncate" cTooltip={{article.article.familles.libelle}}
                        cTooltipPlacement="bottom">{{ truncateWord(article.article.familles.libelle, 25)}}</td>
                      <td class="col-2 text-truncate" cTooltip={{article.article.sousfamilles.libelle}}
                        cTooltipPlacement="bottom">{{ truncateWord(article.article.sousfamilles.libelle, 25) }}</td>
                    </tr>
                  </tbody>
                  <tfoot class="fw-bold">
                    <td colspan="5"></td>
                    <td colspan="3">Sous-Total {{calculsoustotal(lieu.inventairedetail) | number: '1.2-2'}} €</td>
                  </tfoot>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <div class="row fw-bold">
            <div class="col-6"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2">TOTAL {{calcultotal(inventairesDetailsZone) | number: '1.2-2'}} €</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title text-center" id="modal-basic-title">Ajouter des articles </h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card-body overflow-y-scroll py-1" style="height: 400px;">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-3">Libellé</th>
            <th scope="col" class="col-2">Unités</th>
            <th scope="col" class="col-3">Familles</th>
            <th scope="col" class="col-3">Sous-familles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of inventaireArticles">
            <td class="col-1">
              <input type="checkbox" class="form-check-input" name="article-{{line.articleId}}" id="article-{{line.id}}"
                [(ngModel)]="line.selected">
            </td>
            <td class="col-3">{{line.article.libelle}}</td>
            <td class="col-2">{{line.article.unite.libelle}}</td>
            <td class="col-3">{{line.article.familles.libelle}}</td>
            <td class="col-3">{{line.article.sousfamilles.libelle}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-success"
      (click)="modal.close('Save click')">Séléctionner</button>
  </div>
</ng-template>

<ng-template #contentinventaire let-modal>
  <div class="modal-header">
    <h6 class="modal-title text-center" id="modal-basic-title">{{centrerevenu.libelle}} - Inventaire du
      {{screenDate(inventaire.date_inventaire)}}</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="card-body py-1">
          <div class="card-body py-1">
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="libelle">N° Piéce</span>
                  <input type="text" class="form-control col-7 bg-white" aria-label="numero" autocomplete="off"
                    aria-describedby="numero" name="numero" [(ngModel)]="inventaire.numero">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="libelle">Date inventaire</span>
                  <input type="text" class="form-control col-7 bg-white" aria-label="date" autocomplete="off"
                    aria-describedby="date" name="date" [(ngModel)]="inventaire.date_inventaire" bsDatepicker
                    [bsConfig]="bsConfig">
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="exploitation">Exploitation</span>
                  <input type="text" class="form-control bg-white" [ngClass]="modifToggle ? 'col-6' : 'col-7'"
                    aria-label="Code" aria-describedby="exploitation"
                    [(ngModel)]="inventaire.centre.exploitations.libelle" disabled="true">
                  <!-- <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let line of exploitations"><span
                        (click)="selectExploitation(line)">{{line.libelle}}</span>
                    </li>
                  </ul> -->
                </div>
              </div>
              <div class="col-6">
                <div class="input-group"><span class="input-group-text col-5" id="centrerevenu">Centre Revenu</span>
                  <input type="text" class="form-control bg-white" [ngClass]="modifToggle ? 'col-6' : 'col-7'"
                    aria-label="Code" aria-describedby="centrerevenu" [(ngModel)]="inventaire.centre.libelle"
                    disabled="true">
                  <!-- <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let line of centrerevenus"><span
                        (click)="selectCentreRevenu(line)">{{line.libelle}}</span>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="card-body overflow-y-scroll p-0" style="height: 400px;">
          <div class="row">
            <div class="col-4 mb-2" *ngFor="let lieu of lieustockageszones">
              <div class="card">
                <div class="card-header-sm fw-bold text-truncate">{{lieu.lieu}} - {{lieu.centre.libelle}}</div>
                <div class="card-body overflow-y-scroll" style="height: 150px; padding-top: 2px;">
                  <table class="table table-bordered table-sm">
                    <tr *ngFor="let line of lieu.zonestockage">
                      <td>{{line.zone}}</td>
                      <td>
                        <input type="checkbox" class="form-check-input" name="zone-{{line.zone}}" id="zone-{{line.id}}"
                          [(ngModel)]="line.selected">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-success" (click)="modal.close('Save click')">Valider</button>
  </div>
</ng-template>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast #toast="cToast" (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible"
    color="{{color}}">
    <c-toast-body>
      <div class="row">
        <div class="col-10 p-auto"><span [ngClass]="textcolor">{{message}}</span></div>
        <div class="col-2"><button aria-label="close" class="btn btn-sm btn-outline-light no-border"
            (click)="toast.visible=false"><i class="fas fa-x"></i></button></div>
      </div>
    </c-toast-body>
  </c-toast>
</c-toaster>