<div class="card d-flex py-1 my-2 mb-2">
    <div class="d-flex bd-highlight justify-content-end">
        <button class="btn btn-outline-success btn-sm me-1"  title="Ajouter bon de livraison" >
          <i class="fas fa-plus"></i>
        </button>
        <button  class="btn btn-outline-danger btn-sm me-1" title="Supprimer bon de livraison">
          <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-outline-primary btn-sm me-1" title="Liste bon de livraison">
          <i class="fas fa-list"></i>
        </button>
      </div>
  </div> 
<div >
<div class="card d-flex">
    <div class="card-body overflow-scroll py-1" style="height: 650px;">
      <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col" class="">Sélection</th>
            <th scope="col" class="col-1">BL Numero</th>
            <th scope="col" class="col-2">Exploitation</th>
            <th scope="col" class="col-2">Centre de revenu</th>
            <th scope="col" class="col-2">Fournisseur </th>
            <th scope="col" class="col-2">Date de commande</th>
            <th scope="col" class="col-2">Date de livraison</th>
            <th scope="col" class="col-2">Montant HT</th>
            <th scope="col" class="col-2">Montant TVA</th>
            
            </tr>
        </thead>
        <tbody>
        <tr>
          
        </tr>
        </tbody>
      </table>
    </div>
  
</div>
  