<div class="card" style="max-height: 70vh;">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1" (click)="initializeview()">
      <button ngbNavLink>EXPLOITATIONS</button>
      <ng-template ngbNavContent>
        <div class="card py-1" style="border: none;">
          <div class="d-flex bd-highlight">
            <div class="flex-grow-1 bd-highlight">
              <button type="button" *ngIf="modifToggleExploitation" (click)="saveExploitation()"
                class="btn btn-success btn-sm mx-1">Enregistrer</button>
              <button type="button" *ngIf="modifToggleExploitation" (click)="cancelexploitation()"
                class="btn btn-danger btn-sm mx-1">Annuler</button>
            </div>
            <div class="bd-highlight">
              <button class="btn btn-outline-primary btn-sm me-1" (click)="listexploitation()"
                [disabled]="modifToggleExploitation" *ngIf="!toggleexploitation" title="Liste exploitation"><i
                  class="fas fa-list"></i></button>
              <button class="btn btn-outline-info btn-sm me-1" [disabled]="modifToggleExploitation"
                (click)="modifyExploitation()" *ngIf="!toggleexploitation" title="Modifier exploitation"><i
                  class="fas fa-pencil"></i></button>
              <button class="btn btn-outline-success btn-sm me-1" [disabled]="!toggleexploitation"
                (click)="createExploitations();getAllCentreRevenuWithoutLink();" title="Ajouter exploitation"><i
                  class="fas fa-plus"></i></button>
              <button class="btn btn-outline-danger btn-sm me-1" [disabled]="modifToggleExploitation"
                (click)="deleteExploitation()" title="Supprimer exploitation"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="card py-3 mt-2" style="border: none;">
          <div class="card-body" style="max-height: 70vh;" *ngIf="!toggleexploitation">
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Libelle</span>
                  <input type="text" class="form-control col-7" [disabled]="inputModifExploitation" name="libelle"
                    [(ngModel)]="exploitation.libelle" autocomplete="off">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Code Naf</span>
                  <input type="text" class="form-control col-6" [disabled]="inputModifExploitation"
                    [(ngModel)]="exploitation.codenaf" name="codenaf" aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Site web</span>
                  <input type="text" class="form-control col-7" [disabled]="inputModifExploitation"
                    [(ngModel)]="exploitation.siteWeb" name="siteWeb" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Siret</span>
                  <input type="text" class="form-control col-7" [disabled]="inputModifExploitation" name="siret"
                    [(ngModel)]="exploitation.siret">
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-5">
                <div class="input-group">
                  <span class="input-group-text col-4" id="adresse">Adresse</span>
                  <input type="text" class="form-control col-8" [disabled]="inputModifExploitation" name="adressrue"
                    placeholder="Rue" [(ngModel)]="exploitation.adresses.rue">
                </div>
              </div>
              <div class="col-3">
                <div class="input-group">
                  <input type="text" class="form-control col-12" [disabled]="inputModifExploitation" name="adressville"
                    placeholder="Ville" [(ngModel)]="exploitation.adresses.ville">
                </div>
              </div>
              <div class="col-1">
                <div class="input-group">
                  <input type="text" class="form-control col-12" [disabled]="inputModifExploitation" name="adresscp"
                    placeholder="CP" [(ngModel)]="exploitation.adresses.code_postal">
                </div>
              </div>
              <div class="col-3">
                <div class="input-group" *ngIf="inputModifExploitation !== true">
                  <span class="btn btn-outline-secondary bg-white col-3" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../../../assets/img/flags/{{exploitation.adresses.flags}}" class="img-flag" alt="">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </span>
                  <span class="end-border input-group-text bg-white col-9 "
                    id="pays">{{exploitation.adresses.pays}}</span>
                  <ul class="dropdown-menu dropdown-menu-end col-12 overflow-y-scroll" style="height: 400px;">
                    <li *ngFor="let line of country" (click)="selectCountry(line)"><span>{{line.translations.fr}}</span>
                    </li>
                  </ul>
                </div>
                <div class="input-group" *ngIf="inputModifExploitation === true">
                  <span class="btn btn-outline-secondary bg-white col-3">
                    <img src="../../../../assets/img/flags/{{exploitation.adresses.flags}}" class="img-flag" alt="">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </span>
                  <span class="end-border input-group-text bg-white col-9 "
                    id="pays">{{exploitation.adresses.pays}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="overflow-y-scroll" style="max-height: 60vh;" *ngIf="toggleexploitation">
            <table class="table table-hover table-sm table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col" class="col-1">#</th>
                  <th scope="col" class="col-3">Exploitation<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                  <th scope="col" class="col-4">Adresse<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                  <th scope="col" class="col-1">Code<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                  <th scope="col" class="col-3">Centre Revenu<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let line of exploitations">
                  <td scope="col" class="col-1">
                    <input type="checkbox" class="form-check-input" name="article-{{line.libelle}}"
                      id="article-{{line.id}}" [(ngModel)]="line.selected">
                  </td>
                  <td scope="col" class="col-3" (click)="showExploitation(line)">{{ line.libelle }}</td>
                  <td scope="col" class="col-4" (click)="showExploitation(line)">{{ line.adresses ? line.adresses.rue :
                    '' }} {{ line.adresses ?
                    line.adresses.ville : '' }} {{ line.adresses ? line.adresses.code_postal : '' }} {{
                    line.adresses ? line.adresses.pays : '' }}</td>
                  <td scope="col" class="col-1" (click)="showExploitation(line)">{{ line.codenaf }}</td>
                  <td scope="col" class="col-3" (click)="showExploitation(line)">
                <tr *ngFor="let lines of line.centreRevenu">{{ lines.libelle }}</tr>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card py-3 mt-4 mx-4" style="height: 40vh;" *ngIf="!toggleexploitation">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="toggleCentreExploitation">
              <div class="d-flex bd-highlight" *ngIf="!togglearticle || !togglefichetechnique">
                <button class="btn btn-outline-secondary btn-sm me-1"
                  (click)="listecentrerevenuexploitation(exploitation.centreRevenu)" title="Assigner centre de revenu"
                  *ngIf="!modifcentreexploitation" [disabled]="togglearticle || togglefichetechnique"><i
                    class="fas fa-pencil"></i></button>
                <button class="btn btn-outline-success btn-sm me-1"
                  (click)="savecentreexploitation(centresrevenusexploitations)" title="Enregistrer centre de revenu"
                  *ngIf="modifcentreexploitation">Enregistrer</button>
                <button class="btn btn-outline-danger btn-sm me-1" (click)="cancelcentreexploitation(exploitation.id)"
                  title="Supprimer centre de revenu" *ngIf="modifcentreexploitation">Annuler</button>
                <div *ngIf="!togglearticle">
                  <button class="btn btn-primary btn-sm me-1" (click)="gererarticle()" title="Gérer les articles"
                    *ngIf="!modifcentreexploitation" [disabled]="togglefichetechnique">Gérer les articles</button>
                </div>
                <div *ngIf="!togglefichetechnique">
                  <button class="btn btn-primary btn-sm me-1" (click)="gererfichetechnique()" title="Gérer les articles"
                    *ngIf="!modifcentreexploitation" [disabled]="togglearticle">Gérer les fiches techniques</button>
                </div>
              </div>
              <div class="d-flex bd-highlight" *ngIf="togglearticle">
                <button class="btn btn-primary btn-sm me-1" (click)="addarticle()" *ngIf="!addarticletoggle"
                  title="">Ajouter des articles</button>
                <button class="btn btn-danger btn-sm me-1"
                  (click)="toggle = true; togglearticle = false; addarticletoggle = true;" *ngIf="!addarticletoggle"
                  title="">Fermer</button>
                <button class="btn btn-danger btn-sm me-1" (click)="deletearticle()"
                  *ngIf="articlesselected > 0 && !addarticletoggle" title="">Supprimer</button>
                <button class="btn btn-success btn-sm me-1" (click)="addarticleexploitation()" *ngIf="addarticletoggle"
                  title="">Enregistrer</button>
                <button class="btn btn-danger btn-sm me-1" (click)="cancelarticleexploitation()"
                  *ngIf="addarticletoggle" title="">Annuler</button>
              </div>
              <div class="d-flex bd-highlight" *ngIf="togglefichetechnique">
                <button class="btn btn-primary btn-sm me-1" (click)="addfichetechnique()"
                  *ngIf="!addfichetechniquetoggle" title="">Ajouter des
                  fiches techniques</button>
                <button class="btn btn-danger btn-sm me-1"
                  (click)="toggle = true; togglefichetechnique = false; addfichetechniquetoggle = true;"
                  *ngIf="!addfichetechniquetoggle" title="">Fermer</button>
                <button class="btn btn-danger btn-sm me-1" (click)="deletefichetechnique()"
                  *ngIf="fichetechniquesselected > 0 && !addfichetechniquetoggle" title="">Supprimer</button>
                <button class="btn btn-success btn-sm me-1" (click)="addfichetechniqueexploitation()"
                  *ngIf="addfichetechniquetoggle" title="">Enregistrer</button>
                <button class="btn btn-danger btn-sm me-1" (click)="cancelfichetechniqueexploitation()"
                  *ngIf="addfichetechniquetoggle" title="">Annuler</button>
              </div>
            </div>
            <table class="table table-hover table-sm table-striped mb-0" *ngIf="toggle ">
              <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-8">Centre de revenue<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                <th scope="col" class="col-3">Code<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
              </tr>
              <tbody *ngIf="!modifcentreexploitation">
                <tr *ngFor="let line of exploitation.centreRevenu">
                  <td scope="col" class="col-1">
                    <input *ngIf="!exploitation.id" type="checkbox" class="form-check-input"
                      name="centrerevenu-{{line.libelle}}" id="centrerevenu-{{line.id}}" [(ngModel)]="line.selected">
                  </td>
                  <td scope="col" class="col-8">{{ line.libelle }}</td>
                  <td scope="col" class="col-3">{{ line.code }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="modifcentreexploitation">
                <tr *ngFor="let line of centresrevenusexploitations">
                  <td scope="col" class="col-1">
                    <input type="checkbox" class="form-check-input" name="centrerevenu-{{line.libelle}}"
                      id="centrerevenu-{{line.id}}" [(ngModel)]="line.selected">
                  </td>
                  <td scope="col" class="col-8">{{ line.libelle }}</td>
                  <td scope="col" class="col-3">{{ line.code }}</td>
                </tr>
              </tbody>
            </table>
            <div class="overflow-y-scroll" style="height: 40vh;" *ngIf="togglearticle">
              <table class="table table-hover table-sm table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="col-1">
                      <span *ngIf="!addarticletoggle">#</span>
                      <!-- <span *ngIf="addarticletoggle">AAA</span> -->
                      <input type="checkbox" *ngIf="addarticletoggle" class="form-check-input" name="article"
                        id="article" (change)="selectedallarticle($event)">
                    </th>
                    <th scope="col" class="col-6">Article<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                    <th scope="col" class="col-2">Code Article<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                    <th scope="col" class="col-3">Reference croise<i class="fas fa-sort sort-style" id="fa-sort"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of articles">
                    <td scope="col" class="col-1">
                      <input type="checkbox" class="form-check-input" name="article-{{line.libelle}}"
                        id="article-{{line.id}}" [(ngModel)]="line.selected" (change)="selectedarticle()">
                    </td>
                    <td scope="col" class="col-6">{{ line.libelle }}</td>
                    <td scope="col" class="col-2">{{ line.codeArticle }}</td>
                    <td scope="col" class="col-3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="overflow-y-scroll" style="height: 40vh;" *ngIf="togglefichetechnique">
              <table class="table table-hover table-sm table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="col-1">
                      <span *ngIf="!addfichetechniquetoggle">#</span>
                      <!-- <span *ngIf="addarticletoggle">AAA</span> -->
                      <input type="checkbox" *ngIf="addfichetechniquetoggle" class="form-check-input" name="article"
                        id="article" (change)="selectedallfichetechnique($event)">
                    </th>
                    <th scope="col" class="col-6">Fichetechnique<i class="fas fa-sort sort-style" id="fa-sort"></i></th>
                    <th scope="col" class="col-2">Code Fichetechnique<i class="fas fa-sort sort-style" id="fa-sort"></i>
                    </th>
                    <th scope="col" class="col-3">Reference croise<i class="fas fa-sort sort-style" id="fa-sort"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of fichetechniques">
                    <td scope="col" class="col-1">
                      <input type="checkbox" class="form-check-input" name="fichetechnique-{{line.libelle}}"
                        id="fichetechnique-{{line.id}}" [(ngModel)]="line.selected" (change)="selectedfichetechnique()">
                    </td>
                    <td scope="col" class="col-6">{{ line.libelle }}</td>
                    <td scope="col" class="col-2">{{ line.code }}</td>
                    <td scope="col" class="col-3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" (click)="initializeview()">
      <button ngbNavLink>CENTRE DE REVENU</button>
      <ng-template ngbNavContent>
        <div class="card py-1" style="border: none;">
          <div class="d-flex bd-highlight">
            <div class="flex-grow-1 bd-highlight">
              <button type="button" *ngIf="!inputModifCentre" (click)="savecentrerevenu()"
                class="btn btn-success btn-sm mx-1">Enregistrer</button>
              <button type="button" *ngIf="!inputModifCentre" (click)="cancelcentrerevenu(centre.id, centre)"
                class="btn btn-danger btn-sm mx-1">Annuler</button>
            </div>
            <div class="bd-highlight">
              <button class="btn btn-outline-primary btn-sm me-1" (click)="listcentrerevenu()"
                [disabled]="modifToggleCentre" *ngIf="!toggleCentre" title="Liste centre revenu"><i
                  class="fas fa-list"></i></button>
              <button class="btn btn-outline-info btn-sm me-1" [disabled]="modifToggleCentre" (click)="modifyCentre()"
                *ngIf="!toggleCentre" title="Modifier centre revenu"><i class="fas fa-pencil"></i></button>
              <button class="btn btn-outline-success btn-sm me-1" [disabled]="!toggleCentre"
                (click)="createCentrerevenu()" title="Ajouter centre revenu"><i class="fas fa-plus"></i></button>
              <button class="btn btn-outline-danger btn-sm me-1" [disabled]="modifToggleCentre"
                (click)="deletecentrerevenu()" title="Supprimer centre revenu"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="card py-3 mt-2" style="border: none;">
          <div class="card-body" style="max-height: 70vh;" *ngIf="!toggleCentre">
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Code</span>
                  <input type="text" class="form-control col-6" [disabled]="inputModifCentre" [(ngModel)]="centre.code"
                    name="code" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Libelle</span>
                  <input type="text" class="form-control col-7" [disabled]="inputModifCentre" name="libelle"
                    [(ngModel)]="centre.libelle" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Email</span>
                  <input type="email" class="form-control col-7" [disabled]="inputModifCentre"
                    [(ngModel)]="centre.email" name="email" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Téléphone</span>
                  <input type="text" class="form-control col-7" [disabled]="inputModifCentre" name="telephone"
                    [(ngModel)]="centre.telephone">
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Exploitation</span>
                  <input type="text" class="form-control col-7" disabled [(ngModel)]="centre.exploitations.libelle"
                    name="email" aria-describedby="basic-addon1">
                  <button class="btn btn-outline-secondary btn-sm" *ngIf="showbtnmodifcentreexploitation"
                    [disabled]="!inputModifCentre" (click)="showbtnmodifcentreexploitation = false"><i
                      class="fas fa-pencil"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="overflow-y-scroll" style="max-height: 60vh;" *ngIf="toggleCentre">
            <div class="card-body overflow-scroll-y py-1" style="height: 600px;">
              <table class="table table-hover table-sm table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-2">Code</th>
                    <th scope="col" class="col-3">Libelle</th>
                    <th scope="col" class="col-2">Email</th>
                    <th scope="col" class="col-2">Téléphone</th>
                    <th scope="col" class="col-2">Exploitation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of centres">
                    <td scope="col" class="col-1">
                      <input type="checkbox" class="form-check-input" name="centre-{{line.libelle}}"
                        id="centre-{{line.id}}" [(ngModel)]="line.selected">
                    </td>
                    <td scope="col" class="col-2" (click)="showCentreRevenu(line)">{{ line.code }}</td>
                    <td scope="col" class="col-3" (click)="showCentreRevenu(line)">{{ line.libelle }}</td>
                    <td scope="col" class="col-2" (click)="showCentreRevenu(line)">{{ line.email }}</td>
                    <td scope="col" class="col-2" (click)="showCentreRevenu(line)">{{ line.telephone }}</td>
                    <td scope="col" class="col-2" (click)="showCentreRevenu(line)">{{ line.exploitations ?
                      line.exploitations.libelle : '' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card py-3 mt-4 mx-4" style="height: 45vh; border: none;" *ngIf="!toggleCentre">
            <div class="row">
              <div class="card"
                [ngClass]="{'col-12': showbtnmodifcentreexploitation, 'col-3': !showbtnmodifcentreexploitation}"
                style="height: 40vh;" *ngIf="!showbtnmodifcentreexploitation">
                <div class="h6 text-center fw-bold">EXPLOITATION</div>
                <div class="card-body col-12">
                  <div class="overflow-y-scroll" style="height: 30vh;">
                    <table class="table table-hover table-sm table-striped mb-0">
                      <tbody>
                        <tr *ngFor="let exploitation of centresexploitations">
                          <td>
                            <input type="radio" class="form-check-input" name="exploitation"
                              id="exploitation-{{exploitation.id}}-{{exploitation.libelle}}"
                              [value]="exploitation.selected" (change)="selectexploitation($event)">
                          </td>
                          <td>{{ exploitation.libelle }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row" *ngIf="!showbtnmodifcentreexploitation && inputModifCentre">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <div class="d-flex bd-highlight">
                        <button class="btn btn-outline-success btn-sm me-1" *ngIf="exploitationselected !== 0"
                          (click)="savecentrerevenuexploitation(centre, true)"
                          title="Enregistrer exploitation">Enregistrer l'exploitation</button>
                        <button class="btn btn-success btn-sm me-1" *ngIf="exploitationselected == 0"
                          (click)="exploitationselected = 0; savecentrerevenuexploitation(centre, true)">Enregistrer</button>
                        <button class="btn btn-outline-danger btn-sm me-1"
                          (click)="savecentrerevenuexploitation(centre, false)">Annuler</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card"
                [ngClass]="{'col-12': showbtnmodifcentreexploitation, 'col-9': !showbtnmodifcentreexploitation}"
                style="height: 40vh;">
                <div class="h6 text-center fw-bold">LIEU DE STOCKAGES</div>
                <div class="card-body col-12">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1"
                    *ngIf="showbtnmodifcentreexploitation">
                    <div class="d-flex bd-highlight" *ngIf="inputModifCentre">
                      <button class="btn btn-outline-secondary btn-sm me-1"
                        (click)="listelieustockagecentrerevenu(centre.lieuStockage)" title="Assigner lieu de stockage"
                        *ngIf="!modifLieustockageCentre"><i class="fas fa-pencil"></i></button>
                      <button class="btn btn-outline-success btn-sm me-1" (click)="savecentrelieustockage()"
                        title="Enregistrer" *ngIf="modifLieustockageCentre">Enregistrer</button>
                      <button class="btn btn-outline-danger btn-sm me-1" (click)="cancelcentrelieustockage()" title=""
                        *ngIf="modifLieustockageCentre">Annuler</button>
                    </div>
                  </div>
                  <div class="overflow-y-scroll" style="height: 30vh; overflow-x: hidden;">
                    <div class="row d-flex justify-content-center">

                      <div class="card text-center m-1" style="width: 18rem;"
                        *ngFor="let _lieustockage of lieustockagescentrerevenus">
                        <div class="card-body">
                          <div class="clearfix">
                            <h5 class="float-center">{{_lieustockage.lieu}}</h5>
                            <input type="checkbox" class="form-check-input float-right" *ngIf="modifLieustockageCentre"
                              name="_lieustockage-{{_lieustockage.lieu}}" id="_lieustockage-{{_lieustockage.id}}"
                              [(ngModel)]="_lieustockage.selected">
                          </div>
                          <table class="table table-sm table-striped">
                            <tbody>
                              <tr *ngFor="let _zonestockage of _lieustockage.zonestockage">
                                <td>{{ _zonestockage.zone }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" (click)="initializeview()">
      <button ngbNavLink>LIEU DE STOCKAGE</button>
      <ng-template ngbNavContent>
        <div class="card py-1" style="border: none;">
          <div class="d-flex bd-highlight">
            <div class="flex-grow-1 bd-highlight">
              <button type="button" *ngIf="!inputModifLieu" (click)="saveLieuDeStockage()"
                class="btn btn-success btn-sm mx-1">Enregistrer</button>
              <button type="button" *ngIf="!inputModifLieu" (click)="cancelLieuDeStockage(lieuStockage)"
                class="btn btn-danger btn-sm mx-1">Annuler</button>
            </div>
            <div class="bd-highlight">
              <button class="btn btn-outline-primary btn-sm me-1" (click)="listLieuStockage()"
                [disabled]="modifToggleLieu" *ngIf="!toggleLieu" title="Liste centre revenu"><i
                  class="fas fa-list"></i></button>
              <button class="btn btn-outline-info btn-sm me-1" [disabled]="modifToggleLieu"
                (click)="modifyLieuStockage()" *ngIf="!toggleLieu" title="Modifier centre revenu"><i
                  class="fas fa-pencil"></i></button>
              <button class="btn btn-outline-success btn-sm me-1" [disabled]="!toggleLieu"
                (click)="createLieuStockage()" title="Ajouter centre revenu"><i class="fas fa-plus"></i></button>
              <button class="btn btn-outline-danger btn-sm me-1" [disabled]="modifToggleLieu"
                (click)="deleteLieuStockage()" title="Supprimer centre revenu"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="card py-3 mt-2" style="border: none;">
          <div class="overflow-y-scroll" style="max-height: 60vh;" *ngIf="toggleLieu">
            <div class="card-body overflow-scroll-y py-1" style="height: 600px;">
              <table class="table table-hover table-sm table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-3">Lieu</th>
                    <th scope="col" class="col-6">Zone de stockage</th>
                    <th scope="col" class="col-2">Centre de revenu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of lieuSTockages">
                    <th scope="col" class="col-1">
                      <input type="checkbox" class="form-check-input" name="lieuSTockage-{{line.id}}"
                        id="lieuSTockage-{{line.id}}" [(ngModel)]="line.selected">
                    </th>
                    <td scope="col" class="col-3" (click)="showOneLieuStockage(line)">{{ line.lieu }}</td>
                    <td scope="col" class="col-6" (click)="showOneLieuStockage(line)">
                      <span>{{ truncateWord(getZoneNames(line)) }}</span>
                    </td>
                    <td scope="col" class="col-2" (click)="showOneLieuStockage(line)">{{ line.centre ?
                      line.centre.libelle: '' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card-body" style="max-height: 70vh;" *ngIf="!toggleLieu">
            <div class="row m-2">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Lieu de stockage</span>
                  <input type="text" class="form-control col-6" [disabled]="inputModifLieu"
                    [(ngModel)]="lieuStockage.lieu" name="code" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text col-5" id="basic-addon1">Centre de revenu</span>
                  <input type="text" class="form-control col-7" disabled [(ngModel)]="lieuStockage.centre.libelle"
                    name="email" aria-describedby="basic-addon1">
                  <button class="btn btn-outline-secondary btn-sm" *ngIf="showbtnmodiflieucentre"
                    [disabled]="!inputModifLieu" (click)="showbtnmodiflieucentre = false"><i
                      class="fas fa-pencil"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card py-3 mt-4 mx-4" style="height: 45vh; border: none;" *ngIf="!toggleLieu">
            <div class="row">
              <div class="card" [ngClass]="{'col-12': showbtnmodiflieucentre, 'col-3': !showbtnmodiflieucentre}"
                style="height: 40vh;" *ngIf="!showbtnmodiflieucentre">
                <div class="h6 text-center fw-bold">CENTRE DE REVENU</div>
                <div class="overflow-y-scroll" style="height: 30vh;">
                  <table class="table table-hover table-sm table-striped mb-0">
                    <tbody>
                      <tr *ngFor="let centrerevenu of centrerevenulieustockages">
                        <td>
                          <input type="radio" class="form-check-input" name="centrerevenu"
                            id="centrerevenu-{{centrerevenu.id}}-{{centrerevenu.libelle}}"
                            [value]="centrerevenu.selected" (change)="selectcentrerevenulieu($event)">
                        </td>
                        <td>{{ centrerevenu.libelle }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row" *ngIf="!showbtnmodiflieucentre && inputModifLieu">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="d-flex bd-highlight">
                      <button class="btn btn-outline-success btn-sm me-1"
                        *ngIf="centrerevenulieustockagesselected !== 0"
                        (click)="savelieucentrerevenu(lieuStockage, true)"
                        title="Enregistrer exploitation">Enregistrer</button>
                      <button class="btn btn-success btn-sm me-1" *ngIf="centrerevenulieustockagesselected == 0"
                        (click)="centrerevenulieustockagesselected = 0; savelieucentrerevenu(lieuStockage, true)">Enregistrer</button>
                      <button class="btn btn-outline-danger btn-sm me-1"
                        (click)="savelieucentrerevenu(lieuStockage, false)">Annuler</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" [ngClass]="{'col-12': showbtnmodiflieucentre, 'col-9': !showbtnmodiflieucentre}"
                style="height: 40vh;">
                <div class="h6 text-center fw-bold">ZONE DE STOCKAGES</div>
                <div class="card-body">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1" *ngIf="showbtnmodiflieucentre">
                    <div class="d-flex bd-highlight" *ngIf="inputModifLieu">
                      <!-- <button class="btn btn-outline-secondary btn-sm me-1"
                        (click)="listezonestockageforlieustockage(lieuStockage)" title="Assigner zone de stockage"
                        *ngIf="!inputModifZone"><i class="fas fa-pencil"></i></button> -->
                      <button class="btn btn-secondary btn-sm me-1" (click)="createzonestockage(lieuStockage)"
                        title="Creer zone de stockage" *ngIf="!inputModifZone">Gerer les zones de stockage</button>
                      <button class="btn btn-outline-success btn-sm me-1" (click)="savezonelieustockage(lieuStockage)"
                        title="Enregistrer zone de stockage"
                        *ngIf="inputModifZone && zoneStockage.zone.length > 0">Enregistrer</button>
                      <button class="btn btn-outline-danger btn-sm me-1" (click)="cancelzonelieustockage(lieuStockage)"
                        title="" *ngIf="inputModifZone">Annuler</button>
                      <button class="btn btn-danger btn-sm me-1" (click)="deletezonelieustockage()"
                        title="Supprimer zone de stockage"
                        *ngIf="zoneStockageselected > 0 && inputModifLieu">Supprimer</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="overflow-y-scroll" [ngClass]="{'col-12': !inputModifZone, 'col-6': inputModifZone}"
                      style="height: 30vh;">
                      <table class="table table-hover table-sm table-striped mb-0">
                        <tbody>
                          <tr *ngFor="let zonestockage of zonestockageslieustockages">
                            <td>
                              <input *ngIf="!inputModifLieu || inputModifZone" type="checkbox" class="form-check-input"
                                name="zonestockage-{{zonestockage.id}}" id="zonestockage-{{zonestockage.id}}"
                                [(ngModel)]="zonestockage.selected" (change)="selectzonestockage()">
                            </td>
                            <td>{{ zonestockage.zone }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-body" *ngIf="inputModifZone"
                      [ngClass]="{'col-12': !inputModifZone, 'col-6': inputModifZone}">
                      <div class="row m-2">
                        <div class="input-group col-12">
                          <span class="input-group-text col-5" id="basic-addon1">Libelle</span>
                          <input type="text" class="form-control col-7" name="zonestockage"
                            [(ngModel)]="zoneStockage.zone" [disabled]="inputModif" autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>UTILISATEURS</button>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>