<div class="card" style="max-height: 70vh;">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>EXPLOITATIONS</button>
      <ng-template ngbNavContent>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="card py-1">
              <div class="d-flex bd-highlight">
                <div class="flex-grow-1 bd-highlight">
                  <button type="button" *ngIf="modifToggle" (click)="submit()"
                    class="btn btn-success btn-sm mx-1">Enregistrer</button>
                  <button type="button" *ngIf="modifToggle" (click)="cancel()"
                    class="btn btn-danger btn-sm mx-1">Annuler</button>
                </div>
                <div class="bd-highlight">
                  <button class="btn btn-outline-primary btn-sm me-1" (click)="cancel()" [disabled]="!modifToggle"
                    *ngIf="!toggle" title="Liste exploitation"><i class="fas fa-list"></i></button>
                  <button class="btn btn-outline-info btn-sm me-1" [disabled]="!modifToggle"
                    (click)="modifyExploitation()" *ngIf="!toggle" title="Modifier exploitation"><i
                      class="fas fa-pencil"></i></button>
                  <button class="btn btn-outline-success btn-sm me-1" [disabled]="!toggle"
                    (click)="toggleModal();getAllCentreRevenu()" title="Ajouter exploitation"><i
                      class="fas fa-plus"></i></button>
                  <button class="btn btn-outline-danger btn-sm me-1" [disabled]="!modifToggle" *ngIf="!toggle"
                    (click)="deleteExploitation()" title="Supprimer exploitation"><i class="fas fa-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">

          </li>
        </ul>


      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>CENTRE DE REVENU</button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>LIEU DE STOCKAGE</button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>ZONE DE STOCKAGE</button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li [ngbNavItem]="5">
      <button ngbNavLink>UTILISATEURS</button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ul>
</div>