.form-control:disabled{
    background-color: #fff;
}
.card-body.table-info{
    background-color: #90E0F8 !important;
}
.card-body.table-primary{
    background-color: #C7F1FD !important;
}

.card-body.table-light{
    background-color: #F9F8F8 !important;
}