<div class="card d-flex py-1 my-2 mb-2">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight">
      <button type="button" (click)="addBonCommande()" [disabled]="inputModif" class="btn btn-success btn-sm mx-1"
        *ngIf="!modifToggle">Enregistrer</button>
      <button type="button" class="btn btn-danger btn-sm mx-1" *ngIf="!modifToggle" (click)="cancel()">Annuler</button>
    </div>
    <div class="bd-highlight mx-2 my-0">
      <div class="input-group input-group-sm">
        <span class="input-group-text col-5" id="basic-addon1">Fournisseurs</span>
        <input type="text" class="form-control bg-white col-6" aria-label="unite" aria-describedby="fournisseur"
          [(ngModel)]="fournisseur.raison_social" disabled="true">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" *ngIf="toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let line of fournisseurs"><span (click)="selectFounisseur(line)">{{line.raison_social}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bd-highlight">
      <button class="btn btn-outline-warning btn-sm me-1" *ngIf="showvalidateBtn" (click)="validateCommande()"
        title="Valider bon de commande">
        <i class="fas fa-check"></i>
      </button>
      <button class="btn btn-outline-primary btn-sm me-1" *ngIf="!toggle" (click)="cancel()" [disabled]="!modifToggle"
        title="Liste Facture">
        <i class="fas fa-list"></i>
      </button>
      <button class="btn btn-outline-success btn-sm me-1" [disabled]="!addTogle"
        (click)="toggleModal();listArticleFournisseurs()" title="Ajouter bon de commande"><i
          class="fas fa-t"></i></button>
      <button class="btn btn-outline-info btn-sm me-1" [disabled]="!addTogle" (click)="addCommandeModal()"
        title="Ajout commande"><i class="fas fa-c"></i></button>
      <button class="btn btn-outline-primary btn-sm me-1" [disabled]="!addTogle" title="Liste de 10 dernières commandes"
        (click)="listArticleDixDernierCommande()"><i class="fas fa-1"></i><i class="fas fa-0"></i></button>
      <button class="btn btn-outline-danger btn-sm me-1" *ngIf="showDeleteBtnCom" (click)="deleteSelectedRowsComm()"
        title="Supprimer bon de commande">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="card d-flex" *ngIf="(!toggle )">
  <div class="card-header text-center fs-5 fw-bold">{{centre.libelle}} - Bon de commande du {{ boncommande.dateCommande
    | date :'dd/MM/yyyy'}}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="card-body py-1">
        <form #bonCommandeForm="ngForm">
          <div class="row m-2">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">Date de commande</span>
                <input type="text" class="form-control col-7" bsDatepicker [bsConfig]="bsConfig" name="datecommande"
                  [disabled]="inputModif" [(ngModel)]="boncommande.dateCommande" autocomplete="off">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">Fournisseur</span>
                <input type="text" class="form-control col-6" [(ngModel)]="boncommande.fournisseur.raison_social"
                  name="fournisseurId" aria-label="fournisseur" [disabled]="true" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="row m-2">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">Exploitation</span>
                <input type="text" class="form-control col-7" [(ngModel)]="exploitation.libelle" name="exploitationId"
                  [disabled]="true" aria-label="exploitation" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">Adresse Fournisseur</span>
                <input type="text"
                  [value]="fournisseur.adresse.rue +' '+fournisseur.adresse.code_postal+' '+fournisseur.adresse.ville+' '+fournisseur.adresse.pays"
                  class="form-control col-7" name="adresse" aria-label="adresse" [disabled]="true">
              </div>
            </div>

          </div>
          <div class="row m-2">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">Centre de revenu</span>
                <input type="text" class="form-control bg-white col-6" name="centreId" [(ngModel)]="centre.libelle"
                  aria-label="centre" aria-describedby="centre" disabled="true">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                  *ngIf="!inputModif" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let item of centres"><span (click)="selectCentreRevenu(item)">{{item.libelle}}</span></li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text col-5" id="basic-addon1">N° bon de commande</span>
                <input type="text" class="form-control col-7" [(ngModel)]="boncommande.noPiece" name="noPiece"
                  [disabled]="inputModif" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card d-flex py-1 mb-2" *ngIf="(!toggle )">
        <div class="d-flex flex-row-reverse bd-highlight">
          <button class="btn btn-outline-success btn-sm me-1" [disabled]="!addBtn" (click)="openModalArticle(content)"
            title="Ajouter article">
            <i class="fas fa-plus"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm me-1" [disabled]="!showDeleteBtn" (click)="deleteSelectedRows()"
            title="Supprimer bon de commande">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="card-body overflow-y-scroll my-1" style="height: 40vh;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-1"></th>
              <th class="col-2">Famille</th>
              <th class="col-3">Designation</th>
              <th class="col-1">Quantité</th>
              <th class="col-1 text-center">Unité</th>
              <th class="col-2 text-center">Prix</th>
              <th class="col-1">Montant</th>
              <th class="col-1">Remise</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of commandes">
              <td class="col-1">
                <input class="form-check-input" [disabled]="inputModif" type="checkbox" name="dc-{{line.id}}"
                  id="dc-{{line.id}}" [(ngModel)]="line.selected" (change)="checkSelectedRows()">
              </td>
              <td class="col-2">{{ line.article.familles.libelle || '' }}</td>
              <td class="col-3">{{line.article.libelle || ''}}</td>
              <td class="col-1 text-end"><input type="number" class="form-control form-control-sm"
                  [disabled]="inputModif" placeholder="0.00" [step]="line.conditionnement?.uniteCommande?.step"
                  name="qte_commande[]" [(ngModel)]="line.QteCommande"></td>
              <td class="col-1 text-center">{{ line.conditionnement?.uniteCommande?.abreviation }}</td>
              <td class="col-2">
                <div class="input-group input-group-sm w-50 m-auto">
                  <input type="number" class="form-control form-control-sm" [disabled]="inputModif" placeholder="0.00"
                    [step]="line.conditionnement?.uniteCommande?.step" name="prix_unitaire[]"
                    [(ngModel)]="line.prixarticle">
                  <span class="input-group-text">€</span>
                </div>
              </td>
              <td class="col-1 text-end">{{line.QteCommande * line.prixarticle | number:'1.2-2'}} €</td>
              <td class="col-1">
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control" [disabled]="inputModif" placeholder="0.00"
                    [step]="line.conditionnement?.uniteCommande?.step" name="remise[]" [(ngModel)]="line.remise">
                  <span class="input-group-text">€</span>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="card d-flex">
        <div class="d-flex flex-row-reverse bd-highlight fw-bold p-1">
          <span class="col-1"></span>
          <span class="col-1 ms-2 text-end">{{ montantTTc? montantTTc:getTotalMontant() | number:'1.2-2'}} €</span>
          <span class="me-1">Montant Total</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="card d-flex" *ngIf="(toggle && !btnTenRecord)">
  <div class="card-header text-center fs-5 fw-bold">Tous les bons de commandes du fournisseur {{
    fournisseur.raison_social }}</div>
  <div class="card-body overflow-y-scroll py-1" style="height: 70vh;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-3">N° Commande <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortBonDeCommandes($event, 'noPiece')"></i></th>
          <th scope="col" class="col-2">Date Commande <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortBonDeCommandes($event, 'dateCommande','date')"></i></th>
          <th scope="col" class="col-3">Montant HT <i class="fas fa-sort sort-style" id="fa-sort"
              (click)="onSortBonDeCommandes($event, 'montantHT','numeric')"></i></th>
          <th scope="col" class="col-2"></th>
        </tr>
        <tr>
          <th></th>
          <th><input type="search" name="noPiece" class="form-control form-control-sm"
              (input)="onSearchBonDeCommandes($event,'noPiece')" placeholder="Rechercher..."></th>
          <th><input type="date" name="dateCommande" class="form-control form-control-sm"
              (input)="onSearchBonDeCommandes($event,'dateCommande')" placeholder="Rechercher..."></th>
          <th><input type="search" name="montantHT" class="form-control form-control-sm"
              (input)="onSearchBonDeCommandes($event,'montantHT')" placeholder="Rechercher..."></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lines of boncommandes" [ngClass]="{
          'table-light': lines.validation === 0,
          'table-info': lines.validation === 1,
          'table-primary': lines.validation !== 0 && lines.validation !== 1
        }">
          <td class="col-1"><input type="checkbox" name="af-{{lines.id}}"
              [disabled]="lines.validation!=0? 'true':'false'" id="af-{{lines.id}}" [(ngModel)]="lines.selected"
              (change)="selectBoncomm()"></td>
          <td class="col-3" (click)="showCommande(lines)">{{lines.noPiece}}</td>
          <td class="col-2" (click)="showCommande(lines)">{{lines.dateCommande | date :'dd/MM/yyyy'}}</td>
          <td class="col-3" (click)="showCommande(lines)">{{lines.montantHT -lines.remise| number:'1.2-2'}} €</td>
          <td class="col-2 text-info"><i (click)="generatePDF(lines)" class="fas fa-print" title="Télécharger PDF"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="card d-flex" *ngIf="(!toggle && btnTenRecord)">
  <div class="card-header text-center fs-5 fw-bold">Les dix dernières commandes du fournisseur {{
    fournisseur.raison_social }}</div>
  <div class="card-body overflow-y-scroll py-1" style="height: 40vh;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-1"></th>
          <th class="col-3">Famille</th>
          <th class="col-3">Designation</th>
          <th class="col-1">Quantité</th>
          <th class="col-1">Unité</th>
          <th class="col-1">Prix</th>
          <th class="col-1">Montant</th>
          <th class="col-1">Remise</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of commandes">
          <td class="col-1"></td>
          <td class="col-3">{{ line.articlefournisseur?.article?.familles?.libelle || '' }}</td>
          <td class="col-3">{{line.articlefournisseur?.article?.libelle || ''}}</td>
          <td class="col-1">{{ line.QteCommande | number:'1.2-2' }}</td>
          <td class="col-1">{{ line.conditionnement?.uniteCommande?.abreviation }}</td>
          <td class="col-1">{{ line.prixarticle | number:'1.2-2' }} €</td>
          <td class="col-1">{{ line.QteCommande * line.prixarticle | number:'1.2-2' }} €</td>
          <td class="col-1">{{ line.remise | number:'1.2-2' }} €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->



<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title text-center">Ajout Article</h5>
    <button class="btn-close" type="button" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
  </div>
  <div class="modal-body overflow-y-scroll py-1" style="height: 60vh">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col" class="col-1" rowspan="2"></th>
          <th scope="col" class="col-3" rowspan="2">Désignation</th>
          <th scope="col" class="col-2" colspan="2">Commande</th>
          <th scope="col" class="col-2" colspan="2">Achat</th>
          <th scope="col" class="col-2" colspan="2">Inventaire</th>
          <th scope="col" class="col-2" colspan="2">FT</th>
        </tr>
        <tr>
          <th scope="col" class="col-1">Unité</th>
          <th scope="col" class="col-1">Prix</th>
          <th scope="col" class="col-1">Unité</th>
          <th scope="col" class="col-1">Prix</th>
          <th scope="col" class="col-1">Unité</th>
          <th scope="col" class="col-1">Prix</th>
          <th scope="col" class="col-1">Unité</th>
          <th scope="col" class="col-1">Prix</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of articleFournisseurs">
          <tr *ngFor="let conditionnement of item.conditionnement">
            <td scope="col" class="col-1"><input type="checkbox" name="af-{{conditionnement.id}}"
                id="af-{{conditionnement.id}}" [(ngModel)]="conditionnement.selected"></td>
            <td scope="col" class="col-3">{{ item.article.libelle }}</td>
            <td scope="col" class="col-1">{{ conditionnement.uniteCommande.abreviation }}</td>
            <td scope="col" class="col-1">{{ conditionnement.prixAchat | number: '1.2-2' }} €</td>
            <td scope="col" class="col-1">{{ conditionnement.uniteAchat.abreviation }}</td>
            <td scope="col" class="col-1">{{ conditionnement.prixAchat / conditionnement.coefficientAchatCommande |
              number: '1.2-2' }} €</td>
            <td scope="col" class="col-1">{{ conditionnement.uniteInventaire.abreviation }}</td>
            <td scope="col" class="col-1">{{ conditionnement.prixAchat / conditionnement.coefficientAchatCommande /
              conditionnement.coefficientInventaireAchat | number:'1.2-2' }} €</td>
            <td scope="col" class="col-1">{{ conditionnement.uniteFt.abreviation }}</td>
            <td scope="col" class="col-1">{{ conditionnement.prixAchat / conditionnement.coefficientAchatCommande /
              conditionnement.coefficientInventaireAchat / conditionnement.coefficientInventaire | number: '1.2-2' }} €
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" (click)="modal.close('Save click')">Valider</button>
    <button class="btn btn-sm btn-danger m-1" (click)="modal.dismiss('Cross click')" type="button"
      data-coreui-dismiss="modal">Annuler</button>
  </div>
</ng-template>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast #toast="cToast" (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible"
    color="{{color}}">
    <c-toast-body>
      <div class="row">
        <div class="col-10 p-auto"><span [ngClass]="textcolor">{{message}}</span></div>
        <div class="col-2"><button aria-label="close" class="btn btn-sm btn-outline-light no-border"
            (click)="toast.visible=false"><i class="fas fa-x"></i></button></div>
      </div>
    </c-toast-body>
  </c-toast>
</c-toaster>