<div class="card d-flex py-1 mb-2">
  <div class="d-flex bd-highlight">
    <!-- <div class="flex-grow-1 bd-highlight">

    </div> -->
    <div class="flex-grow-1 bd-highlight mx-1 col-3">
      <div class="input-group input-group-sm">
        <span for="dateDebut" class="input-group-text col-4">
          Pertes du :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.debut" name="dateDebut"
          bsDatepicker [bsConfig]="bsConfig" [maxDate]="dates.fin">
        <span for="dateFin" class="input-group-text col-1">
          au :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.fin" [minDate]="dates.debut"
          name="dateFin" bsDatepicker [bsConfig]="bsConfig">
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1 col-5">
      <!-- <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.fin" [minDate]="dates.debut"
          name="dateFin"> -->
    </div>
    <div class="bd-highlight">
      <button class="btn btn-sm btn-outline-info me-1" (click)="open(content)"><i
          class="fas fa-chart-area"></i></button>
    </div>
  </div>
</div>

<div class="card d-flex">
  <ul ngbNav #navperte="ngbNav" [(activeId)]="activeperte" class="nav-tabs">
    <!-- <li [ngbNavItem]="1">
      <button ngbNavLink>PERTES ET OFFERTS</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-6">
            <div class="card-body py-1" style="height: 630px;">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsQuantitePerte"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>
          </div>
          <div class="col-6">
            <div class="card-body py-1" style="height: 630px;">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsMontantPerte"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>
          </div>
        </div>
      </ng-template>
    </li> -->
    <li [ngbNavItem]="2">
      <button ngbNavLink>DETAILS FICHETECHNIQUES PERDUES</button>
      <ng-template ngbNavContent>
        <div class="card d-flex border-light">
          <ul ngbNav #navperteft="ngbNav" [(activeId)]="activeperteft" class="nav-tabs">
            <li [ngbNavItem]="1">
              <button ngbNavLink>QUANTITES</button>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-6">
                    <div class="card-body py-1" style="height: 500px;">
                      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsQuantitePerteArticle"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                    </div>
                  </div>
                  <div class="col-6"></div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>VALORISATIONS</button>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-6">
                    <div class="card-body py-1" style="height: 500px;">
                      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsQuantitePerteArticle"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                    </div>
                  </div>
                  <div class="col-6"></div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="navperteft" class="mt-2"></div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>DETAILS ARTICLES PERDUES</button>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>TABLEAU DE SYNTHESE PERTES</button>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <button ngbNavLink>HISTORIQUE PERTES</button>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navperte" class="mt-2"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title text-center" id="modal-basic-title">Paramétre des diagrammes synthése Pertes</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card-body py-1">
      <div class="row m-2">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text col-6" id="libelle">Date début</span>
            <input type="text" class="form-control col-7 bg-white" aria-label="datedebut" autocomplete="off"
              aria-describedby="datedebut" name="datedebut" [(ngModel)]="dates.debut" bsDatepicker [bsConfig]="bsConfig"
              [maxDate]="dates.fin">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text col-6" id="libelle">Date fin</span>
            <input type="text" class="form-control col-7 bg-white" aria-label="datefin" autocomplete="off"
              aria-describedby="datefin" name="datefin" [(ngModel)]="dates.fin" bsDatepicker [bsConfig]="bsConfig"
              [minDate]="dates.debut">
          </div>
        </div>
      </div>
      <div class="row m-2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>EXPLOITATION</a>
            <ng-template ngbNavContent>
              <table class="table table-striped table-hover">
                <tbody>
                  <tr *ngFor="let line of exploitations">
                    <td class="col-9">{{line.libelle}}</td>
                    <td class="col-3">
                      <input type="checkbox" name="exploitation-{{line.libelle}}" id="exploitation-{{line.id}}"
                        [(ngModel)]="line.selected">
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>CENTRE REVENUS</a>
            <ng-template ngbNavContent>
              <table class="table table-striped table-hover">
                <tbody>
                  <tr *ngFor="let line of centrerevenus">
                    <td class="col-9">{{line.libelle}}</td>
                    <td class="col-3">
                      <input type="checkbox" name="centre-{{line.libelle}}" id="centre-{{line.id}}"
                        [(ngModel)]="line.selected">
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-success" (click)="modal.close('Save click')">Valider</button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="modal.dismiss('Cancel')">Annuler</button>
  </div>
</ng-template>