<div class="card d-flex py-1 mb-2">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight mx-1 col-4">
      <div class="input-group input-group-sm">
        <span for="dateDebut" class="input-group-text col-3">
          Inventaire initiale :
        </span>
        <input type="text" class="form-control col-3 bg-white fw-bold" autocomplete="off" [(ngModel)]="dates.debut"
          name="dateDebut" bsDatepicker [bsConfig]="bsConfig" [maxDate]="dates.fin" disabled>
        <span for="dateFin" class="input-group-text col-3" *ngIf="isfinperiode">
          Inventaire finale :
        </span>
        <span for="dateFin" class="input-group-text col-3" *ngIf="!isfinperiode">
          Date d'aujourd'hui :
        </span>
        <input type="text" class="form-control col-3 bg-white fw-bold" autocomplete="off" [(ngModel)]="dates.fin"
          [minDate]="dates.debut" name="dateFin" bsDatepicker [bsConfig]="bsConfig" disabled>
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1 col-4">
      <div class="badge bg-secondary mt-1 ms-1" *ngFor="let head of headerchoice.split(',')"> <span
          *ngIf="head && head.length > 0 && head != ' '">{{head}}</span> </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight col-2">
      <button class="btn btn-sm btn-outline-info me-1" (click)="open()"><i class="fas fa-chart-area"></i></button>
    </div>
  </div>
</div>


<div class="card d-flex" *ngIf="!toggle">
  <div class="card-header">
    <h6 class="card-title text-center">Paramétre des mouvements de stock</h6>
  </div>
  <div class="modal-body">& 
    <div class="card-body py-1">
      <div class="row m-2">
        <div class="input-group">
          <span class="input-group-text col-2" id="libelle">Période du</span>
          <span class="input-group-text col-5 bg-white" id="libelle">{{screenDate(dates.debut)}} au
            {{screenDate(dates.fin)}}</span>
          <!-- <button class="btn btn-group btn-primary"><i class="fas fa-calendar"></i></button> -->
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngFor="let line of periode"><button class="btn btn-sm btn-outline-secondary m-1"
                (click)="selectPeriode(line)">
                {{screenDate(line.debut)}} --- {{screenDate(line.fin)}}
              </button></li>
          </ul>
        </div>
      </div>
      <div class="row m-2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1" (click)="initialise()">
            <a ngbNavLink>EXPLOITATION</a>
            <ng-template ngbNavContent>
              <table class="table table-striped table-hover">
                <tbody>
                  <tr *ngFor="let line of exploitations">
                    <td class="col-9">{{line.libelle}}</td>
                    <td class="col-3">
                      <input type="checkbox" name="exploitation-{{line.libelle}}" id="exploitation-{{line.id}}"
                        [(ngModel)]="line.selected">
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" (click)="initialise()">
            <a ngbNavLink>CENTRE REVENUS</a>
            <ng-template ngbNavContent>
              <table class="table table-striped table-hover">
                <tbody>
                  <tr *ngFor="let line of centrerevenus">
                    <td class="col-9">{{line.libelle}}</td>
                    <td class="col-3">
                      <input type="checkbox" name="centre-{{line.libelle}}" id="centre-{{line.id}}"
                        [(ngModel)]="line.selected">
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-sm btn-outline-success m-3" (click)="validated()">Valider</button> -->
      <button type="button" class="btn btn-sm btn-outline-success m-3" (click)="validate()">Valider</button>
      <!-- <button type="button" class="btn btn-sm btn-outline-danger" (click)="dismiss('Cancel')">Annuler</button> -->
    </div>
  </div>
</div>

<div class="card p-1" *ngIf="toggle">
  <div class="overflow-y-scroll">
    <table class="table table-hover table-bordered table-sm table-striped mb-0">
      <thead>
        <tr>
          <th colspan="3"></th>
          <th colspan="3" *ngIf="!isvalorisation">Mouvement</th>
          <th [attr.colspan]="colspan">Stocks
            <button type="button" class="btn btn-sm btn-outline-primary position-absolute top-0 end-0 m-1 me-3"
              title="Valorisation des stocks" (click)="showvalorisation()">
              <i class="fas fa-euro-sign"></i>
            </button>
          </th>
          <th [attr.colspan]="colspan" class="table-info" *ngIf="isvalorisation">Valorisations</th>
          <th *ngIf="isfinperiode"></th>
        </tr>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2"> 
            Articles 
            <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortMouvemenstock($event, 'libelle')"></i>
          </th>
          <th class="col-2">
            Unités
            <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortMouvemenstock($event, 'unite')"></i>
          </th>
          <th class="col-1" *ngIf="!isvalorisation">
            Achats 
            <i class="fas fa-sort sort-style" id="fa-sort"(click)="onSortMouvemenstock($event, 'achats','numeric')"></i>
          </th>
          <th class="col-1" *ngIf="!isvalorisation">
            Ventes
            <i class="fas fa-sort sort-style" id="fa-sort"(click)="onSortMouvemenstock($event, 'ventes','numeric')"></i>
          </th>
          <th class="col-1" *ngIf="!isvalorisation">
            Pertes
            <i class="fas fa-sort sort-style" id="fa-sort"(click)="onSortMouvemenstock($event, 'pertes','numeric')"></i>
          </th>
          <th class="col-1">
            Initiale
            <!-- <i class="fas fa-sort sort-style" id="fa-sort"(click)="onSortMouvemenstock($event, 'inventaires','numeric')"></i> -->
          </th>
          <th class="col-1" *ngIf="isfinperiode">Réél</th>
          <th class="col-1">Théorique</th>
          <th class="col-1 table-info" *ngIf="isvalorisation">Initiale</th>
          <th class="col-1 table-info" *ngIf="isvalorisation && isfinperiode">Réél</th>
          <th class="col-1 table-info" *ngIf="isvalorisation">Théorique</th>
          <th class="col-1" *ngIf="isfinperiode">Ecart</th>
        </tr>
        <tr>
          <th></th>
          <th class="col-2">
            <input type="search" class="form-control" name="libelle" (input)="onSearchMouvemenstock($event,'libelle')">
          </th>
          <th class="col-2">
            <input type="search" class="form-control" name="unite" (input)="onSearchMouvemenstock($event,'unite')">
          </th>
          <!-- <th class="col-2">
            <select class="form-select" aria-label="Default select example" (change)="onSearchMouvemenstock($event, 'unite')">
              <option></option>
              <option *ngFor="let line of unitefilter" [value]="line">{{line}}</option>
            </select>
          </th> -->
          <th colspan="3" *ngIf="!isvalorisation"></th>
          <th [attr.colspan]="colspan" *ngIf="!isvalorisation"></th>
          <th [attr.colspan]="colspan" *ngIf="isvalorisation"></th>
          <th [attr.colspan]="colspan" class="table-info" *ngIf="isvalorisation"></th>
          <th *ngIf="isfinperiode"></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="overflow-y-scroll" style="height: 520px;">
    <table class="table table-hover table-bordered table-sm table-striped mt-0">
      <tbody>
        <tr *ngFor="let line of mouvemenstock">
          <td class="col-1">#</td>
          <td class="col-2">{{line.libelle}}</td>
          <td class="col-2">{{line.unite}}</td>
          <td class="col-1" *ngIf="!isvalorisation">{{+line.achats | number: '1.2-2'}}</td>
          <td class="col-1" *ngIf="!isvalorisation">{{+line.ventes | number: '1.2-2'}}</td>
          <td class="col-1" *ngIf="!isvalorisation">{{+line.pertes | number: '1.2-2'}}</td>
          <td class="col-1">{{+line.inventaires | number: '1.2-2'}}</td>
          <td class="col-1" *ngIf="isfinperiode">{{+line.inventairesfinal | number: '1.2-2'}}</td>
          <td class="col-1">{{+line.inventaires - +line.pertes - +line.ventes + +line.achats | number: '1.2-2'}}</td>
          <td class="col-1 table-info" *ngIf="isvalorisation">{{+line.inventaires * +line.cout| number: '1.2-2'}} €</td>
          <td class="col-1 table-info" *ngIf="isvalorisation && isfinperiode">{{+line.inventairesfinal * +line.cout |
            number: '1.2-2'}} €</td>
          <td class="col-1 table-info" *ngIf="isvalorisation">{{(+line.inventaires - +line.pertes - +line.ventes +
            +line.achats) * +line.cout | number: '1.2-2'}} €
          </td>
          <td class="col-1" *ngIf="isfinperiode">{{(+line.inventaires - +line.pertes - +line.ventes + +line.achats) -
            +line.inventairesfinal | number: '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card p-1" *ngIf="toggle">
  <table class="table table-bordered table-sm m-auto">
    <thead>
      <th class="col-3">Total valorisation</th>
      <th class="col-2">Initiale</th>
      <th class="col-1"> {{calcultotal(mouvemenstock, 0) | number: '1.2-2'}} €</th>
      <th class="col-2" *ngIf="isfinperiode">Réél</th>
      <th class="col-1" *ngIf="isfinperiode"> {{calcultotal(mouvemenstock, 1) | number: '1.2-2'}} €</th>
      <th class="col-2">Théorique</th>
      <th class="col-1"> {{calcultotal(mouvemenstock, 2) | number: '1.2-2'}} €</th>
    </thead>
  </table>
</div>