// Here you can add other styles
table {
    cursor: pointer;
}

.point {
    cursor: pointer;
}

.btn-color {
    color: black;
}

.nav-tabs {
    font-size: smaller;
}

.dropdown-menu li {
    cursor: pointer;
    text-align: center;
}

.dropdown-menu li:hover {
    font-weight: bolder;
}

.error {
    border-color: red;
}

.no-border {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.img-flag {
    height: 15px;
    width: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;
}

.card-header-sm {
    padding: 1px var(--cui-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--cui-card-cap-color);
    background-color: var(--cui-card-cap-bg);
    border-bottom: var(--cui-card-border-width) solid var(--cui-card-border-color);
}