// Here you can add other styles
table {
    cursor: pointer;
}

.nav-tabs {
    font-size: smaller;
}

.dropdown-menu li {
    cursor: pointer;
    text-align: center;
}

.dropdown-menu li:hover {
    font-weight: bolder;
}

.error {
    border-color: red;
}