<div class="card d-flex py-1 mb-2" *ngIf="toggle">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight mx-1 col-4">
      <div class="input-group input-group-sm" *ngIf="addToggle">
        <span for="dateDebut" class="input-group-text col-4">
          Ventes du :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.debut" name="dateDebut"
          bsDatepicker [bsConfig]="bsConfig" [maxDate]="dates.fin" (ngModelChange)="selectCentreRevenus(centrerevenu)">
        <span for="dateFin" class="input-group-text col-1">
          au :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="dates.fin" [minDate]="dates.debut"
          name="dateFin" bsDatepicker [bsConfig]="bsConfig" (ngModelChange)="selectCentreRevenus(centrerevenu)">
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1 col-3">
      <div class="input-group input-group-sm">
        <span class="input-group-text col-5" id="basic-addon1">Centre revenus</span>
        <input type="text" class="form-control bg-white " [ngClass]="toggle ? 'col-6' : 'col-7'" aria-label="unite"
          aria-describedby="fournisseur" [(ngModel)]="centrerevenu.libelle" disabled="true">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" *ngIf="toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let line of centrerevenusdefault"><span
              (click)="selectCentreRevenus(line)">{{line.libelle}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bd-highlight">
      <!-- <button class="btn btn-outline-primary btn-sm me-1" title="Liste pertes" (click)="toggleModal()" *ngIf="!toggle"
          [disabled]="!modifToggle">
          <i class="fas fa-list"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm me-1" title="Supprimer perte" (click)="delete()" *ngIf="!toggle"
          [disabled]="!deleteToggle">
          <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm me-1" title="Supprimer pertes" (click)="deletes()" *ngIf="toggle"
          [disabled]="!deleteToggle">
          <i class="fas fa-trash"></i>
        </button> -->
      <div class="bd-highlight">
        <button class="btn btn-outline-success btn-sm me-1" title="Inserer vente"
          (click)="toggleModal();resetVente();addvente()" [disabled]="!modifToggle">
          <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-outline-secondary btn-sm me-1" title="importer vente" (click)="importModal()"
          [disabled]="!modifToggle">
          <i class="fas fa-download"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card d-flex py-1 mb-2" *ngIf="!toggle">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight">
      <button type="button" class="btn btn-success btn-sm mx-1" *ngIf="!modifToggle"
        (click)="submit()">Enregistrer</button>
      <button type="button" class="btn btn-danger btn-sm mx-1" *ngIf="!modifToggle" (click)="cancel()">Annuler</button>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1">
      <div class="input-group input-group-sm" *ngIf="addToggle">
        <span for="ticket" class="input-group-text col-4">
          Numero ticket :
        </span>
        <input type="text" class="form-control" name="ticket" id="ticket" [(ngModel)]="numticket">
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1">
      <div class="input-group input-group-sm" *ngIf="addToggle">
        <span for="dateDebut" class="input-group-text col-4">
          Date vente :
        </span>
        <input type="text" class="form-control col-4" autocomplete="off" [(ngModel)]="datevente" name="datevente"
          bsDatepicker [bsConfig]="bsConfig">
      </div>
    </div>
    <div class="flex-grow-1 bd-highlight mx-1">
      <div class="input-group input-group-sm">
        <span class="input-group-text col-5" id="basic-addon1">Centre revenus</span>
        <input type="text" class="form-control bg-white " [ngClass]="toggle ? 'col-6' : 'col-7'" aria-label="unite"
          aria-describedby="fournisseur" [(ngModel)]="centrerevenu.libelle" disabled="true">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" *ngIf="toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let line of centrerevenusdefault"><span
              (click)="selectCentreRevenus(line)">{{line.libelle}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bd-highlight" *ngIf="!toggle">
      <button class="btn btn-outline-primary btn-sm me-1" title="" (click)="toggleModal()"
        *ngIf="modifToggle">
        <i class="fas fa-list"></i>
      </button>
      <button class="btn btn-outline-success btn-sm me-1" title="Ajouter fichetechniques" (click)="openArticle(content)"
        *ngIf="!modifToggle">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="card d-flex" *ngIf="toggle">
  <div class="card-body overflow-y-scroll py-1" style="height: 650px;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-2">Date  <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortVentes($event, 'date_vente','date')"></i></th>
          <th scope="col" class="col-2">Numero ticket <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortVentes($event, 'num_ticket')"></i></th>
          <th scope="col" class="col-2">Montant HT <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortVentes($event, 'montantht','numeric')"></i></th>
          <th scope="col" class="col-2">Montant TTC <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortVentes($event, 'montantttc','numeric')"></i></th>
          <th scope="col" class="col-3">Centre revenus <i class="fas fa-sort sort-style" id="fa-sort" (click)="onSortVentes($event, 'centre.libelle')"></i></th>
          <!-- <th scope="col" class="col-2">Operateurs</th> -->
        </tr>
        <tr>
          <th> </th>
          <th><input type="date" name="date_vente" class="form-control form-control-sm"  (input)="onSearchVentes($event,'date_vente')" placeholder="Rechercher..."></th>
          <th><input type="search" name="num_ticket" class="form-control form-control-sm"  (input)="onSearchVentes($event,'num_ticket')" placeholder="Rechercher..."></th>
          <th><input type="search" name="montantht" class="form-control form-control-sm"  (input)="onSearchVentes($event,'montantht')" placeholder="Rechercher..."></th>
          <th><input type="search" name="montantttc" class="form-control form-control-sm"  (input)="onSearchVentes($event,'montantttc')" placeholder="Rechercher..."></th>
          <th><input type="search" name="libelle" class="form-control form-control-sm"  (input)="onSearchVentes($event,'centre.libelle')" placeholder="Rechercher..."></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of ventes">
          <td class="col-1">
            <input type="checkbox" class="form-check-input" name="vente-{{line.date_vente}}" id="vente-{{line.id}}"
              [(ngModel)]="line.selected">
          </td>
          <td class="col-2" (click)="toggleModal(); show(line)">{{screenDate(line.date_vente)}}</td>
          <td class="col-2" (click)="toggleModal(); show(line)">{{line.num_ticket}}</td>
          <td class="col-2" (click)="toggleModal(); show(line)">{{line.montantht | number: '1.2-2'}} €</td>
          <td class="col-2" (click)="toggleModal(); show(line)">{{line.montantttc | number: '1.2-2'}} €</td>
          <td class="col-3" (click)="toggleModal(); show(line)">{{line.centre?.libelle}}</td>
          <!-- <td class="col-2" (click)="toggleModal(); show(line)">{{line.operateur.nom}} {{line.operateur.prenom}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body py-1 mt-2">
    <div class="row">
      <div class="fw-bold col-4 d-flex justify-content-end"></div>
      <div class="fw-bold col-2 d-flex justify-content-end"> TOTAL HT</div>
      <div class="fw-bold col-2"> {{calculmontant(ventes).montantht | number: '1.2-2'}} €</div>
      <div class="fw-bold col-2 d-flex justify-content-end"> TOTAL TTC</div>
      <div class="fw-bold col-2"> {{calculmontant(ventes).montantttc | number: '1.2-2'}} €</div>
    </div>
  </div>
</div>

<div class="card d-flex" *ngIf="!toggle">
  <div class="card-body overflow-y-scroll py-1" style="height: 650px;" *ngIf="isimport">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th class="col-3">Libelle</th>
          <th class="col-2">Quantité</th>
          <th class="col-2">Unité</th>
          <th class="col-2">Prix HT</th>
          <th class="col-2">Prix TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of vente.ventedetail">
          <td>
            <input type="checkbox" class="form-check-input" name="ppo-{{line.fichetechniqueId}}"
              id="ppo-{{line.fichetechniqueId}}" [(ngModel)]="line.selected">
          </td>
          <td class="col-3">{{line.fichetechnique.libelle}}</td>
          <!-- <td class="col-2">{{line.quantite | number : '1.2-2'}}</td> -->
          <td class="col-2">
            <input type="number" class="form-control form-control-sm bg-transparent" [(ngModel)]="line.quantite"
              [step]="line.fichetechnique.unite.step" placeholder="0.00" [disabled]="modifToggle">
          </td>
          <td class="col-2">{{line.fichetechnique.unite.libelle}}
            <!-- <input type="number" class="form-control form-control-sm bg-transparent"
              [(ngModel)]="line.quantite" [step]="line.unite.step" placeholder="0.00"
              [disabled]="modifToggle"> -->
          </td>
          <td class="col-2">{{line.prixht * line.quantite | number : '1.2-2'}} €</td>
          <td class="col-2">{{line.prixttc * line.quantite | number : '1.2-2'}} €</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body py-1 mt-2"  *ngIf="isimport">
    <div class="row">
      <div class="fw-bold col-4 d-flex justify-content-end"></div>
      <div class="fw-bold col-2 d-flex justify-content-end"> TOTAL HT</div>
      <div class="fw-bold col-2"> {{calculmontant([vente]).montantht | number: '1.2-2'}} €</div>
      <div class="fw-bold col-2 d-flex justify-content-end"> TOTAL TTC</div>
      <div class="fw-bold col-2"> {{calculmontant([vente]).montantttc | number: '1.2-2'}} €</div>
    </div>
  </div>
  <div class="card-body py-1" style="height: 650px;" *ngIf="!isimport">
    <div class="card-body d-flex justify-content-center py-3">
      <input type="file" id="btnfile" class="visually-hidden" multiple (change)="fileChangeEvent($event)" accept=".csv">
      <label class="btn btn-secondary " for="btnfile"><i class="fas fa-file-download"></i><br />Télécharger un ou
        plusieurs fichier de vente</label>
    </div>
    <ul class="list-group list-group-horizontal-sm" style="max-height: 150px;">
      <li class="list-group-item" *ngFor="let file of files; let i = index">{{file.name}} <i
          class="fas fa-file-csv"></i> <i class="fas fa-close ms-3" (click)="deletefile(i)"></i></li>
    </ul>
    <div class="d-flex justify-content-end" *ngIf="countfiles(files)"><button class="btn btn-sm btn-outline-success" (click)="importfile()">Importer les ventes selectionnés</button></div>

    <div class="row">
      <!-- <div class="col-6 overflow-y-scroll" style="height: 350px;">
        <table class="table table-sm table-hover">
          <thead>
            <th>Nom fichier</th>
            <th>Date vente</th>
            <th>Exploitation</th>
            <th>Centre de revenu</th>
          </thead>
          <tbody>
            <tr *ngFor="let file of fichierventes">
              <td>{{file.fichier}}</td>
              <td>{{screenDate(file.date_vente)}}</td>
              <td>{{file.exploitation.libelle}}</td>
              <td>{{file.centre.libelle}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!-- <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-danger" (click)="filtreventefichier(false)">Vente non importer</button>
        <button class="btn btn-sm btn-light ms-1" (click)="filtreventefichier(false)">Vente importer</button>
      </div> -->
      <div class="overflow-y-scroll" style="height: 350px;">
        <table class="table table-sm table-hover table-striped">
          <thead>
            <th>Nom fichier</th>
            <th>Date vente</th>
            <th>Exploitation</th>
            <th>Centre de revenu</th>
            <th>Date importation</th>
          </thead>
          <tbody>
            <tr *ngFor="let file of fichierventes" [ngClass]="file.isimport !== 1 ? 'table-danger' : 'table-transparent'">
              <td>{{file.fichier}}</td>
              <td>{{screenDate(file.datevente)}}</td>
              <td>{{file.exploitation.libelle}}</td>
              <td>{{file.centre.libelle}}</td>
              <td>{{screenDate(file.date_vente)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title text-center" id="modal-basic-title">Ajouter des fichetechniques</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card-body overflow-y-scroll py-1" style="height: 400px;">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-3">Libellé</th>
            <th scope="col" class="col-2">Unités</th>
            <th scope="col" class="col-3">Familles</th>
            <th scope="col" class="col-3">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of fichetechniques">
            <td class="col-1">
              <input type="checkbox" class="form-check-input" name="ft-{{line.id}}" id="ft-{{line.id}}"
                [(ngModel)]="line.selected">
            </td>
            <td class="col-3">{{line.libelle}}</td>
            <td class="col-2">{{line.unite.libelle}}</td>
            <td class="col-3">{{line.famille.libelle}}</td>
            <td class="col-3">{{line.prix | number : '1.2-2'}} €</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-success"
      (click)="modal.close('Save click')">Séléctionner</button>
  </div>
</ng-template>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast #toast="cToast" (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible"
    color="{{color}}">
    <c-toast-body>
      <div class="row">
        <div class="col-10 p-auto"><span [ngClass]="textcolor">{{message}}</span></div>
        <div class="col-2"><button aria-label="close" class="btn btn-sm btn-outline-light no-border"
            (click)="toast.visible=false"><i class="fas fa-x"></i></button></div>
      </div>
    </c-toast-body>
  </c-toast>
</c-toaster>