<div class="row">
  <div class="col-xl-6 col-md-12 col-sm-12 mb-1">
    <div class="card shadow">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Variations des prix
            d'articles</span></div>
        <div class="p-1 bd-highlight" *ngIf="!articlevariationtoggle"><button class="btn btn-sm btn-outline-danger"
            style="border: none;" (click)="getchartarticlevariation(null)">
            <i class="fas fa-chart-area"></i></button>
        </div>
      </div>
      <div class="overflow-y-scroll m-2" style="height: 100%;" style="height: 400px;" *ngIf="articlevariationtoggle">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Articles <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortArticleVariation($event, 'libelle')"></i></th>
              <th>Dernier prix <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortArticleVariation($event, 'prixactuel','numeric')"></i></th>
              <th>Prix précédent <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortArticleVariation($event, 'prixprecedent','numeric')"></i></th>
              <th>Ecart <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortArticleVariation($event, 'ecart','numeric')"></i></th>
            </tr>
            <tr>
              <th> <input type="search" class="form-control form-control-sm" name="libelle"
                  (input)="onSearchArticleVariation($event,'libelle')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="prixactuel"
                  (input)="onSearchArticleVariation($event,'prixactuel')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="prixprecedent"
                  (input)="onSearchArticleVariation($event,'prixprecedent')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="ecart"
                  (input)="onSearchArticleVariation($event,'ecart')" placeholder="Rechercher..."></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of articlesvariations" (click)="getchartarticlevariation(line)">
              <td>{{line.libelle}}</td>
              <td>{{line.prixactuel | number: '1.2-2'}} €</td>
              <td>{{line.prixprecedent | number: '1.2-2'}} €</td>
              <td class="fw-bold">
                <span *ngIf="line.ecart >= 0" class="text-danger">{{line.ecart | number: '1.2-2'}} % </span>
                <span *ngIf="line.ecart < 0" class="text-success">{{(-1) * line.ecart | number: '1.2-2'}} % </span>
                <i
                  [ngClass]="(line.prixactuel - line.prixprecedent) < 0 ? 'fas fa-chevron-down text-success sort-style':'fas fa-chevron-up text-danger sort-style'"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="overflow-y-scroll" style="height: 100%;" *ngIf="!articlevariationtoggle">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartVariationArticle"
          style="width: 100%; height: 100%; display: block;"></highcharts-chart>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mb-1">
    <div class="card shadow">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Analyses ventes / Cout
            matiéres {{ formatDateRange() }}</span></div>
      </div>
      <div class="overflow-y-scroll m-2" style="height: 100%;" style="height: 400px;">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="col-4">Fiche techniques <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortAnalyseVentes($event, 'fichetechnique.libelle')"></i></th>
              <th class="col-3">Cout <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortAnalyseVentes($event, 'cout','numeric')"></i></th>
              <th class="col-3">Prix Vente<i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortAnalyseVentes($event, 'prix','numeric')"></i></th>
              <th class="col-2">Marge <i class="fas fa-sort sort-style" id="fa-sort"
                  (click)="onSortAnalyseVentes($event, 'ecart','numeric')"></i></th>
            </tr>
            <tr>
              <th> <input type="search" class="form-control form-control-sm" name="libelle"
                  (input)="onSearchAnalyseVentes($event,'fichetechnique.libelle')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="cout"
                  (input)="onSearchAnalyseVentes($event,'cout')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="libelle"
                  (input)="onSearchAnalyseVentes($event,'prix')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm" name="libelle"
                  (input)="onSearchAnalyseVentes($event,'ecart')" placeholder="Rechercher..."></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fiche of fichetechniques">
              <td>{{fiche.fichetechnique.libelle}}</td>
              <td>{{fiche.cout | number: '1.2-2'}} €</td>
              <td>{{fiche.prix | number: '1.2-2'}} €</td>
              <td>{{fiche.ecart| number: '1.2-2'}} €</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-md-12 col-sm-12 mb-1">
    <div class="card shadow">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Valorisation de stock</span>
        </div>
        <div class="p-1 bd-highlight" *ngIf="!isstock"><button class="btn btn-sm btn-outline-danger"
            (click)="getchartstockarticle(null)" style="border: none;">
            <i class="fas fa-chart-area"></i></button>
        </div>
      </div>
      <div class="overflow-y-scroll m-2" style="height: 100%;" style="height: 400px;" *ngIf="isstock">
        <table class="table table-hover table-bordered table-sm table-striped">
          <thead class="fw-bold">
            <tr>
              <th colspan="2"></th>
              <th colspan="2" class="text-center">Stock</th>
              <th colspan="2" class="text-center">Valorisation</th>
            </tr>
            <tr>
              <td>Articles</td>
              <td>Date Inventaire</td>
              <td>Inventaire</td>
              <td>Théorique</td>
              <td> Inventaire</td>
              <td>Théorique</td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let lines of valorisationStock"
              [ngClass]="{'table-danger': lines.stockmin > lines.stockInventaire}"
              (click)="getchartstockarticle(lines)">
              <td>{{ lines.articleLibelle }}</td>
              <td><span *ngIf="(lines.dateInventaire | date: 'dd/MM/yyyy') !== '01/01/1970'">{{ lines.dateInventaire |
                  date:'dd/MM/yyyy' }}</span></td>
              <td>{{ lines.stockInventaire || 0 | number:'1.2-2' }} <span style="font-size: 10px; font-weight: bold;">{{
                  lines.unite
                  }}</span></td>
              <td>{{ lines.stockTheorique| number:'1.2-2' }} <span style="font-size: 10px; font-weight: bold;">{{
                  lines.unite }}</span>
              </td>
              <td>{{ lines.valorisationInventaire | number:'1.2-2' }} €</td>
              <td>{{ lines.valorisationTechnique| number:'1.2-2' }} €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="overflow-y-scroll" style="height: 100%;" *ngIf="!isstock">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsHistogramme"
          style="width: 100%; height: 100%; display: block;"></highcharts-chart>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-md-12 col-sm-12 mb-1">
    <div class="card shadow">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center">
          <span class="col-12 fw-bold">Les articles les plus utilisés {{ formatDateRange() }}</span>
        </div>
      </div>
      <div class="overflow-y-scroll m-2" style="height: 100%;" style="height: 400px;">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <th>Articles</th>
            <th>Quantité utilisé</th>
            <th>Valorisation</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of valorisationarticlesFT">
              <td>{{ item.libelle | uppercase }}</td>
              <td>{{ item.quantite | number:'1.2-2' }} <span style="font-size: 10px; font-weight: bold;">{{ item.unite
                  }}</span></td>
              <td>{{ item.valorisation | number:'1.2-2' }} €</td>
            </tr>

          </tbody>
        </table>
      </div>
      <ng-template #tooltipTemplate let-articleFt="articleFt">
        <ul>
          <li *ngFor="let line of articleFt">{{ line.libelleFt}}</li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-md-12 col-sm-12 mb-1">
    <div class="card bg-white shadow h-100 py-2">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Pertes</span></div>
        <div class="p-1 bd-highlight" *ngIf="!isperteperiode"><button class="btn btn-sm btn-outline-success"
            style="border: none;" (click)="getchartarticleperte(null)">
            <i class="fas fa-chart-area"></i></button>
        </div>
        <div class="p-1 bd-highlight" *ngIf="isperteperiode"><button class="btn btn-sm btn-outline-info"
            style="border: none;" (click)="showchartperte()">
            <i class="fas fa-pie-chart"></i></button>
        </div>

      </div>
      <div class="overflow-y-scroll m-2" style="height: 100%;" style="height: 400px;" *ngIf="isperteperiode">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="col-3">Articles <i class="fas fa-sort sort-style"
                  (click)="onSortPertes($event, 'articlelibelle')"></i></th>
              <th class="col-4">Pertes précédente <i class="fas fa-sort sort-style"
                  (click)="onSortPertes($event, 'totalPertePrecedent','numeric')"></i></th>
              <th class="col-3">Pertes en cours <i class="fas fa-sort sort-style"
                  (click)="onSortPertes($event, 'totalPerteEnCours','numeric')"></i></th>
              <th class="col-2">Ecart</th>
            </tr>
            <tr>
              <th> <input type="search" class="form-control form-control-sm w-75" name="libelle"
                  (input)="onSearchPertes($event,'articlelibelle')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm w-75" name="totalPertePrecedent"
                  (input)="onSearchPertes($event,'totalPertePrecedent')" placeholder="Rechercher..."></th>
              <th> <input type="search" class="form-control form-control-sm w-75" name="totalPerteEnCours"
                  (input)="onSearchPertes($event,'totalPerteEnCours')" placeholder="Rechercher..."></th>
              <th></th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let line of perte" (click)="getchartarticleperte(line)">
              <td>{{line.articlelibelle}}</td>
              <td>{{+line.perte * +line.cout| number: '1.2-2'}} €</td>
              <td>{{+line.perteprecedent * +line.cout | number: '1.2-2'}} €</td>
              <td class="fw-bold">
                <span
                  [ngClass]="((+line.perte * +line.cout) >= (+line.perteprecedent * +line.cout)) ? 'text-success':'text-danger'">{{
                  ((+line.perte * +line.cout) == (+line.perteprecedent * +line.cout)) ? '0.00': (((-1)*((+line.perte *
                  +line.cout) - (+line.perteprecedent * +line.cout))) / (+line.perteprecedent * +line.cout)) * 100 |
                  number: '1.2-2'}} %</span>
                <i
                  [ngClass]="((+line.perte * +line.cout) >= (+line.perteprecedent * +line.cout)) ? 'fas fa-chevron-down text-success':'fas fa-chevron-up text-danger'"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="overflow-y-scroll" style="height: 100%;" *ngIf="!isperteperiode">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartPerteArticle"
          style="width: 100%; height: 100%; display: block;"></highcharts-chart>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mb-1" *ngIf="pertechartetoggle">
    <div class="card bg-white shadow h-100 py-2">
      <div class="card-body py-1" style="height: 400px;">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsMontantPerteArticle"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-md-12 col-sm-12 mb-1">
    <div class="card bg-warning text-white shadow h-100 py-2">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Chiffre d'affaire
            ({{(chiffreaffaire[0] ? chiffreaffaire[0].debut : '2000-01-01') | date:'dd/MM/yyyy'}} - {{
            (chiffreaffaire[0] ? chiffreaffaire[0].fin: '2000-01-01') | date:'dd/MM/yyyy' }})</span></div>
        <div class="p-1 bd-highlight"><button class="btn btn-sm btn-outline-dark" style="border: none;">
            <i class="fas fa-ellipsis-vertical"></i></button>
        </div>
      </div>
      <div class="card-body">
        <span class="h1">{{(chiffreaffaire[0] ? chiffreaffaire[0].ca : 0) | number: '1.2-2'}} €</span>
        <br>
        <div class="row mt-5">
          <div class="col-6"><span class="h6" title="Cout matiére théorique">CMT {{(chiffreaffaire[0] ?
              chiffreaffaire[0].cmt : 0) | number: '1.2-2'}} €</span></div>
          <div class="col-6"><span class="h6" title="Cout matiére réél">CMR {{(chiffreaffaire[0] ? chiffreaffaire[0].cmr
              : 0) | number: '1.2-2'}} €</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12 col-sm-12 mb-1">
    <div class="card bg-info text-white shadow h-100 py-2">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Chiffre d'affaire
            ({{(chiffreaffaire[1] ? chiffreaffaire[1].debut : '2000-01-01') | date:'dd/MM/yyyy' }} - {{
            (chiffreaffaire[1] ? chiffreaffaire[1].fin : '2000-01-01') | date:'dd/MM/yyyy' }})</span></div>
        <div class="p-1 bd-highlight"><button class="btn btn-sm btn-outline-dark" style="border: none;">
            <i class="fas fa-ellipsis-vertical"></i></button>
        </div>
      </div>
      <div class="card-body">
        <span class="h1">{{(chiffreaffaire[1] ? chiffreaffaire[1].ca : 0) | number: '1.2-2'}} € <i
            *ngIf="chiffreaffaire[0] && chiffreaffaire[1]"
            [ngClass]="(chiffreaffaire[0].ca - chiffreaffaire[1].ca) > 0 ? 'fas fa-chevron-down text-danger':'fas fa-chevron-up text-success'"></i></span>
        <br>
        <div class="row mt-5">
          <div class="col-6"><span class="h6" title="Cout matiére théorique">CMT {{(chiffreaffaire[1] ?
              chiffreaffaire[1].cmt : 0) | number: '1.2-2'}} €</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-12 col-sm-12 mb-1">
    <div class="card  bg-success text-white shadow h-100">
      <c-widget-stat-a class="bg-transparent" style="border: none;" color="success" [title]="''">
        <ng-template cTemplateId="widgetActionTemplate">
          <div class="flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Nombre ventes hebdomadaire
              ({{nombrevente}})</span></div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
              <i class="fas fa-ellipsis-vertical text-high-emphasis-inverse"></i>
            </button>
            <div cDropdownMenu>
              <div class="overflow-y-scroll p-3" style="height: 400px; width: 50vw;">
                <table class="table table-hover table-sm table-striped">
                  <thead>
                    <th>Date</th>
                    <th>Numero ticket</th>
                    <th>Montant</th>
                    <th>Centre revenus</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vente of venteshebdo">
                      <td>{{screenDate(vente.date_vente)}} {{screenHour(vente.date_vente)}}</td>
                      <td>{{vente.num_ticket}}</td>
                      <td>{{vente.montantttc | number: '1.2-2'}} €</td>
                      <td>{{vente.centre.libelle}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </c-dropdown>
        </ng-template>
      </c-widget-stat-a>
      <div class="card-body">
        <span class="col-12 fw-bold">Historique nombre vente</span>
        <c-widget-stat-a class="bg-transparent" style="border: none;" color="success" [title]="''">
          <ng-template cTemplateId="widgetChartTemplate">
            <c-chart [data]="data" [options]="options" class="mt-1 mx-1" height="80" type="line"></c-chart>
          </ng-template>
        </c-widget-stat-a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-md-12 col-sm-12 mb-1">
    <div class="card  bg-danger text-white shadow h-100 py-2">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Pertes (Période
            précédente)</span></div>
        <div class="p-1 bd-highlight"><button class="btn btn-sm btn-outline-dark" style="border: none;">
            <i class="fas fa-ellipsis-vertical"></i></button>
        </div>
      </div>
      <div class="card-body">
        <span class="h3">{{ montantPertePrecedent? montantPertePrecedent:getMontantPertePrecedent() | number:'1.2-2'}}
          €</span>
        <!--<span class="h3">{{pertes[1] ? pertes[1].perte : 0 | number: '1.2-2'}} € <i *ngIf="pertes[0] && pertes[1]"
            [ngClass]="(pertes[0].perte - pertes[1].perte) > 0 ? 'fas fa-chevron-down text-light':'fas fa-chevron-up text-light'"></i></span>-->
        <br>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12 col-sm-12 mb-1">
    <div class="card  bg-danger text-white shadow h-100 py-2 mb-1">
      <div class="d-flex bd-highlight">
        <div class="p-1 flex-grow-1 bd-highlight text-center"><span class="col-12 fw-bold">Pertes (Période en
            cours)</span></div>
        <div class="p-1 bd-highlight"><button class="btn btn-sm btn-outline-dark" style="border: none;">
            <i class="fas fa-ellipsis-vertical"></i></button>
        </div>
      </div>
      <div class="card-body">
        <span class="h3">
          {{ montantPerteEnCours ? montantPerteEnCours:getMontantPerteEnCours() | number: '1.2-2' }} €
          <!--{{pertes[0] ? pertes[0].perte : 0 | number: '1.2-2'}} €-->
        </span>
        <br>
      </div>
    </div>
  </div>

</div>